<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @search.price %>
</p>

<p>
  <b>Air conditioner:</b>
  <%= @search.air_conditioner %>
</p>

<p>
  <b>Fireplace:</b>
  <%= @search.fireplace %>
</p>

<p>
  <b>Number of rooms:</b>
  <%= @search.number_of_rooms %>
</p>

<p>
  <b>Balcony:</b>
  <%= @search.balcony %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>

