<%= form_for(@hostel_room) do |f| %>
  <% if @hostel_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hostel_room.errors.count, "error") %> prohibited this hostel_room from being saved:</h2>

      <ul>
      <% @hostel_room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :air_conditioner %><br />
    <%= f.check_box :air_conditioner %>
  </div>
  <div class="field">
    <%= f.label :fireplace %><br />
    <%= f.check_box :fireplace %>
  </div>
  <div class="field">
    <%= f.label :number_of_rooms %><br />
    <%= f.number_field :number_of_rooms %>
  </div>
  <div class="field">
    <%= f.label :balcony %><br />
    <%= f.check_box :balcony %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
